<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
  </head>

  <body>
    <!-- Header -->
    <header>
      <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
      <p>Lugar para poner la barra de búsqueda</p>

      <!-- <input class="barra-busqueda" type="text" placeholder="Buscar">
        <button class="boton-busqueda">Buscar</button> -->

      <p>Comprá en cuotas y sin tarjeta de crédito</p>

      <!-- Barra de Navegación -->
      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="#">Creá tu cuenta</a></li>
          <li><a href="#">Ingresá</a></li>
          <li><a href="#">Mis compras</a></li>
        </ul>
      </nav>
    </header>

    <!-- Main -->
    <main>
      <!-- Sección Basado en tu última visita -->
      <section>
        <h2>Basado en tu última visita</h2>
        <!-- Producto -->
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
          <p>$6700</p>
          <p>40% OFF</p>
          <h3>Cafetera Moulinex</h3>
        </article>

        <!-- Producto -->
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
          <p>$230.000</p>
          <p>20% OFF</p>
          <h3>MacBook Pro 2019</h3>
        </article>

        <!-- Producto -->
        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
          <p>$70.500</p>
          <p>10% OFF</p>
          <h3>Samsung Galaxy S10</h3>
        </article>

        <!-- Producto -->
        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43 pulgadas">
          <p>$23.200</p>
          <p>5% OFF</p>
          <h3>SmartTv Samsung 43"</h3>
        </article>
      </section>

      <!-- Sección de Ofertas -->
      <section>
        <h2>Ofertas</h2>

        <!-- Producto -->
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
          <p>$6700</p>
          <p>40% OFF</p>
          <h3>Cafetera Moulinex</h3>
        </article>

        <!-- Producto -->
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
          <p>$230.000</p>
          <p>20% OFF</p>
          <h3>MacBook Pro 2019</h3>
        </article>

        <!-- Producto -->
        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
          <p>$70.500</p>
          <p>10% OFF</p>
          <h3>Samsung Galaxy S10</h3>
        </article>

        <!-- Producto -->
        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43 pulgadas">
          <p>$23.200</p>
          <p>5% OFF</p>
          <h3>SmartTv Samsung 43"</h3>
        </article>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <!-- Seccion - Pagá con tarjeta o en efectivo -->
      <section>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </section>

      <!-- Seccion - Envío gratis desde $ 2.500 -->
      <section>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      </section>

      <!-- Seccion - Seguridad, de principio a fin -->
      <section>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
      </section>

      <!-- Seccion Copyright -->
      <section>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L</h5>
      </section>
    </footer>
  </body>
</html>
