<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Estilos -->
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <!--------- Header --------->
    <header>
      <!-- Header top -->
      <div class="header-top-bar">

        <!-- Logo -->
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        
        <!-- Barra de Busqueda -->
        <form class="search-bar-container">
          <input type="text" placeholder="Buscar productos, marcas">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        
        <!-- Subtitulo -->
        <h2 class="subtitle-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>

      <!-- Barra de Navegacion -->
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
          <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
          <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
      </nav>

      <!-- Menu Hamburguesa -->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <!--------- Main --------->
    <main>
      <h1 class="title-form">¡Registrese!</h1>
      <form action="/" method="post">
        <!-- Nombre y Apellido -->
        <div class="container-input">
          <label for="full_name">Nombre Completo</label>
          <input type="text" id="full_name" name="full_name" minlength="5" required>
        </div>
        
        <!-- Nombre de Usuario -->
        <div class="container-input">
          <label for="user_name">Nombre de Usuario</label>
          <input type="text" id="user_name" name="user_name" minlength="3" required>
        </div>
        
        <!-- Email -->
        <p class="container-input">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </p>
        
        <!-- Fecha de Nacimiento -->
        <div class="container-input">
          <label for="birthday">Fecha de nacimiento</label>
          <input type="date" name="birthday" id="birthday" required />
        </div>
      
        <!-- Domicilio -->
        <div class="container-input">
          <label for="address">Domicilio</label>
          <input type="text" name="address" id="address" required />
        </div>
        
        <!-- Foto de Usuario -->
        <div class="container-input"> 
          <label for="user_picture">Foto de perfil</label>
          <input type="file" id="user_picture" name="user_picture" accept=".jpg, .png">
        </div>
        
        <!-- Perfil de Usuario -->
        <fieldset class="container-list-form">
          <legend>Perfil de usuario</legend>
          <ul class="list-form">
            <li>
              <input type="radio" name="user_profile" id="buyer" value="Comprador" />
              <label for="buyer">Comprador</label>
            </li>
            <li>
              <input type="radio" name="user_profile" id="seller" value="Vendedor" />
              <label for="seller">Vendedor</label>
            </li>
          </ul>
        </fieldset>

        <!-- Intereses -->
        <fieldset class="container-list-form">
          <legend>Intereses</legend>
          <ul class="list-form list-checkbox">
            <li>
              <input type="checkbox" name="interest" id="electro" value="Electro" />
              <label for="electro">Electro</label>
            </li>
            <li>
              <input type="checkbox" name="interest" id="fashion" value="Moda" />
              <label for="fashion">Moda</label>
            </li>
            <li>
              <input type="checkbox" name="interest" id="house" value="Hogar" />
              <label for="house">Hogar</label>
            </li>
            <li>
              <input type="checkbox" name="interest" id="toys" value="Jugueteria" />
              <label for="toys">Jugueteria</label>
            </li>
            <li>
              <input type="checkbox" name="interest" id="lifestyle" value="Vida sana" />
              <label for="lifestyle">Vida sana</label>
            </li>
          </ul>
        </fieldset>
        
        
        <!-- Contraseña -->
        <div class="container-input">
          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password" required>
        </div>
        
        <!-- Confirmar Contraseña -->
        <div class="container-input">
          <label for="confirm_password">Confirmar Contraseña</label>
          <input type="password" id="confirm_password" name="confirm_password"  required>
        </div>
        
        <div class="container-buttons">
          <button class="button-form" type="submit">Registrarse</button>
          <button class="button-form btn-reset" type="reset">Borrar</button>
        </div>
      </form>
    </main>

    <!--------- Footer --------->
    <footer>
      <!-- Seccion - Pagá con tarjeta o en efectivo -->
      <section class="footer-section">
        <div class="footer-icon">
          <i class="fa-solid fa-credit-card"></i>
        </div>

        <h4 class="title-section-footer">Pagá con tarjeta o en efectivo</h4>
        <p class="paragraph-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
          pago. ¡Y siempre es seguro!</p>
      </section>

      <!-- Seccion - Envío gratis desde $ 2.500 -->
      <section class="footer-section">
        <div class="footer-icon">
          <i class="fa-solid fa-gift"></i>
        </div>
        <h4 class="title-section-footer">Envío gratis desde $ 2.500</h4>
        <p class="paragraph-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
          Es un beneficio de Mercado Puntos.</p>
      </section>

      <!-- Seccion - Seguridad, de principio a fin -->
      <section class="footer-section">
        <div class="footer-icon">
          <i class="fa-solid fa-user-shield"></i>
        </div>
        <h4 class="title-section-footer">Seguridad, de principio a fin</h4>
        <p class="paragraph-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
          estás siempre protegid@.</p>
      </section>

      <!-- Copyright -->
      <h5 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</h5>
    </footer>
  </body>

</html>