*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
}

:root{
  --Amarillo: #EAC926;
  --Azul: #03264C;
  --Celeste: #1259c3;
  --Gris-oscuro: #666;
  --Gris-claro: #ebebeb;
  --Verde: #39b54a;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: var(--Gris-claro);
}

/* --- Header --- */
header{
  background-color: var(--Amarillo);
  padding: 20px 0px;
}

.logo-contenedor{
  width: 50%;
  max-width: 250px;
  padding: 0px 25px;
}

.search-bar{
  padding: 15px 25px;
}

.subtitulo-header{
  text-align: center;
  padding-bottom: 20px;
}

header nav,
header aside{
  margin-left: 10px;
}

.burger-menu{
  text-align: center;
}

.burger-menu i{
  background-color: var(--Celeste);
  color: var(--Gris-claro);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

/* --- Main --- */
main{
  margin: 20px auto;
  width: 90vw;
}

main section{
  margin: 50px 0;
}

.titular{
  font-size: 24px;
  color: var(--Gris-oscuro);
  margin-left: 10px;
}

.producto{
  margin: 10px;
  background-color: white;
}

.info-product{
  border-top: solid 1px var(--Gris-claro);
  padding: 15px;
}

.icon-truck-envio i{
  font-size: 16px;
  border: 1px solid var(--Gris-claro);
  border-radius: 50%;
  padding: 10px;
}

.icon-truck-envio i,
.descuento{
  color: var(--Verde);
}

article img{
  width: 300px;
  margin: auto;
  display: block;
}

.precio{
  font-size: 18px;
}

.descuento{
  font-size: 16px;
}

.descripcion{
  font-size: 16px;
}

/* --- Footer --- */
footer{
  padding: 20px 15px;
  text-align: center;
}

footer section{
  padding: 30px;
}

.credit-card-icon,
.gift-icon,
.user-shield-icon {
  font-size: 28px;
}

.titulo-seccion-footer{
  font-size: 16px;
  color: var(--Gris-oscuro);
}

.parrafo-footer{
  color: var(--Gris-oscuro);
}

.copyright{
  color: var(--Gris-oscuro);
  text-align: left;
}


/* Media Queris */

/* Version Mobile  */
@media(max-width: 768px){
  .descripcion{
    display: none;
  }

  aside{
    display: none;
  }

  nav{
    display: none;
  }
}

/* Tablet y Superior */
@media(min-width: 769px){
  .producto{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .burger-menu{
    display: none;
  }
}