@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
  --Amarillo: #EAC926;
  --Azul: #03264C;
  --Celeste: #1259c3;
  --Gris-oscuro: #666;
  --Gris-claro: #ebebeb;
  --Verde: #39b54a;
  /* Tamaños Tipograficos */
  --Titulares-secciones: 24px;
  --Precios: 18px;
  --Descuentos-y-Descripciones: 16px;
  --Cuerpo-de-texto: 14px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

body{
  font-size: var(--Cuerpo-de-texto);
  background-color: var(--Gris-claro);
}

/* --------- Header --------- */
header{
  background-color: var(--Amarillo);
}

/* -- Header top -- */
.header-top-bar{
  padding: 25px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width: 50%;
  max-width: 250px;
  min-width: 200px;
}

.search-bar-container{
  margin: 15px 0;
}

.search-bar-container input{
  border-style: none;
  padding: 8px 10px;
  border-radius: 5px;
  height: 2.5rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-bar-container button{
  border-style: none;
  height: 2.5rem;
  padding: 8px 10px;
  border-radius: 5px;
  margin-left: -7px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.subtitle-header{
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}

/* -- Barra de Navegacion -- */
.main-navbar{
  padding: 15px 25px;
  display: none;
}

.left-navbar{
  margin-bottom: 15px;
}

/* -- Menu Hamburguesa -- */
.burger-menu{
  text-align: center;
  padding-bottom: 15px;
}

.burger-menu i{
  background-color: var(--Celeste);
  color: var(--Gris-claro);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.banner-header{
  width: 100%;
  margin-bottom: -5px;
}




/* --------- Footer --------- */
footer{
  padding: 20px 15px;
  background-color: white;
}

.footer-section{
  text-align: center;
  padding: 30px
}

.title-section-footer{
  color: var(--Gris-oscuro);
  font-size: var(--Descuentos-y-Descripciones);
}

.paragraph-footer{
  color: var(--Gris-oscuro);
}

.footer-icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.footer-icon i{
  color: var(--Celeste);
}

.copyright{
  color: var(--Gris-oscuro);
}

/* ------------ Media Queris ------------ */
/* Version Tablet (entre 361 y 768)  */
@media(min-width: 560px){
/* --------- Header --------- */
  .subtitle-header{
    margin: 15px 0;
  }

  .main-navbar{
    display: flex;
    justify-content: space-around;
  }

  .main-navbar ul{
    display: flex;
  }

  .left-navbar li{
    margin-right: 10px;
  }

  .right-navbar li{
    margin-left: 10px;
  }

  .burger-menu{
    display: none;
  }

}

/* Version Desktop (de 769 hacia arriba) */
@media(min-width: 1100px){
  .header-top-bar{
    padding: 25px 25px 15px;
  }

  .left-navbar li{
    margin-right: 20px;
  }

  .right-navbar li{
    margin-left: 20px;
  }

  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer-section{
    width: 33%;
  }

  .footer-section:hover i{
    color: var(--Verde);
  }

  .copyright{
    margin-right: auto;
  }
}
